body {
    background-color: aliceblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

input {
    margin-bottom: 10px;

}

img:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:active {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

#banner {
    background-color: cornflowerblue;
    color: whitesmoke;
    width: 95%;
    padding: 20px;
    margin: 5px auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

#demo {
    display: inline-flex;
    overflow-x: scroll;
    padding: 20px;
    width: 80%;
    color: black;
}

#loreBox{
    width: 600px;
    height: 200px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
}

img {
    max-height: 465px;
    max-width: 307px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
#demo {
    display: flex;
    flex-flow:column;
    overflow-x: scroll;
    padding: 20px;
    width: 80%;
    color: black;
}
}
